<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.studentorganizer">

    <uses-sdk android:minSdkVersion="21" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.DashboardActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TaskListActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.TeachersActivity"
            android:label="@string/teachers" />
        <activity android:name=".activities.SubjectActivity" />
        <activity android:name=".activities.SubjectListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TeacherActivity" />
        <activity android:name=".activities.EditTaskActivity" />
        <activity android:name=".activities.EditTestActivity" />
        <activity android:name=".activities.EditTeacherActivity" />
        <activity android:name=".activities.EditSubjectActivity" />
        <activity android:name=".activities.UniScheduleActivity"></activity>
        <activity android:name=".activities.MyScheduleActivity"></activity>
        <activity android:name=".activities.EditStudentScheduleActivity"></activity>
        <activity android:name=".activities.MarksActivity"></activity>
        <activity android:name=".activities.EditContentActivity"></activity>
    </application>

</manifest>
